Repository OCamlPro/alt-ergo, pull requests merged in 2023-06, with the labels that each got.

#608 Set option support
  src/bin/common/parse_command.ml
  src/bin/common/signals_profiling.ml
  src/bin/common/solving_loop.ml
  src/bin/gui/main_gui.ml
  src/bin/js/worker_js.ml
  src/lib/frontend/d_cnf.ml
  src/lib/frontend/frontend.ml
  src/lib/reasoners/fun_sat.ml
  src/lib/structures/commands.mli
  src/lib/structures/errors.ml
  src/lib/util/options.ml
  src/lib/util/options.mli
  src/lib/util/printer.ml
  src/parsers/psmt2_to_alt_ergo.ml
Labels: enhancement, frontend

#614 Refactoring models invocation
  src/bin/common/parse_command.ml
  src/bin/common/solving_loop.ml
  src/lib/frontend/cnf.ml
  src/lib/frontend/models.ml
  src/lib/frontend/typechecker.ml
  src/lib/reasoners/fun_sat.ml
  src/lib/reasoners/sat_solver_sig.ml
  src/lib/reasoners/sat_solver_sig.mli
  src/lib/reasoners/satml_frontend.ml
  src/lib/util/options.ml
  src/lib/util/options.mli
  src/lib/util/printer.ml
  src/lib/util/printer.mli
  src/parsers/psmt2_to_alt_ergo.ml
Labels: enhancement, frontend

#623 Final commit of #614
  src/bin/common/parse_command.ml
  src/bin/common/solving_loop.ml
  src/lib/util/options.mli
Labels: frontend

#478 Solving issue 475
  src/lib/reasoners/satml_frontend.ml
  src/lib/structures/errors.mli
Labels: bug

#631 Remove pinning of dolmen to git version
  .github/workflows/build_docker.yml
  .github/workflows/build_js.yml
  .github/workflows/build_make.yml
Labels: build

#640 Fix typo in CLI
  src/bin/common/parse_command.ml
Labels: frontend

#617 Do not sort fields according to the first appearance of their name
  src/lib/frontend/d_cnf.ml
  src/lib/frontend/typechecker.ml
  src/lib/reasoners/records.ml
  src/lib/structures/ty.ml
  src/lib/structures/ty.mli
Labels: bug, frontend

#698 Add support for (check-sat-assuming) in Dolmen frontend
  src/bin/common/solving_loop.ml
  src/lib/frontend/d_cnf.ml
  src/lib/frontend/d_cnf.mli
  tests/issues/695.expected
  tests/issues/695.smt2
Labels: frontend

#703 [models] Add tests for model generation
  rsc/extra/pre-commit--git-hook
  tests/models/arith/arith1.expected
  tests/models/arith/arith1.smt2
  tests/models/arith/arith2.expected
  tests/models/arith/arith2.smt2
  tests/models/bool/bool1.expected
  tests/models/bool/bool1.smt2
  tests/models/bool/bool2.expected
  tests/models/bool/bool2.smt2
  tests/models/uf/uf1.expected
  tests/models/uf/uf1.smt2
  tests/models/uf/uf2.expected
  tests/models/uf/uf2.smt2
  tools/gentest.ml
Labels: build

#711 Documentation of the ite relations
  src/lib/reasoners/ite_rel.ml
Labels: documentation
